@import './reset.css';
 
:root {
  --app-dark-bg: #1a1d28;
  --app-red: #ff3c57;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
 }


body {
  background-color: var(--app-dark-bg);
}

